table, header, h1, h2, h3, section, nav {
    font-family: Calibri;
}

table {
    width: 60%;
}

table, th, td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

table th {
    background-color: lightsalmon;
    font-weight:bold;
}

table td {
    text-align: center;
}

tr:hover {background-color: #f5f5f5;}

td ul {
    text-align: left;
}

header {
    font-size: 30px;
    color: skyblue;
    text-align:center;
    font-weight: bold;
}

.blue {
    color:blue;
    font-weight: bold;
}